body{
    background-color: aliceblue;
    margin: 0;
    background-image: url(img/abstract-technology-background-free-vector.jpg);
    background-size: cover; 
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(40, 40, 40);
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-elements {
    color: white;
    display: inline-block;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    cursor: pointer;  
    transition: 0.1s;
}
.nav-elements:not(:last-child) {
    border-right: 1px solid white;
}

.nav-elements:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 15px #fff;             
}    

*{
    box-sizing: border-box;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}


body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 40px;
}


h1{
    margin-top: 45px;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    color: white;
}

img{
    width: 50%;

}
.row{
    display: flex;
    padding: 20px;
}

.column{
    flex:30%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 600px){
    .column{flex: 100%;}
}


.formulario{
    display: inline-block;
}
.robotform{
    display: inline-block;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-text{
    font-size: 40px;
}

.social-media {
    margin-top: 0px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 60px; 
    height: 60px;
    vertical-align: middle;
}